@{
    ViewData["Title"] = "Projects";
}
@model IEnumerable<ProjectViewModel>

<div class="text-left">
    <h1 class="display-4">Projects</h1>
@foreach (var item in Model)
{
    <div>@item.Description</div>
}
</div>