@{
    ViewData["Title"] = "Add Work Experience";
}
@model WorkExperienceViewModel

<div class="text-left">
    <h1 class="display-4">Add Work Experience</h1>
    <form id="work-experience-form" class="row g-3" asp-action="Edit" method="PUT">
        <input name="WorkExperienceId" asp-for="WorkExperienceId" />

        <div class="col-12">
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input name="JobTitle" asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input name="StartDate" asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input name="EndDate" asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}